// Colors ------------------------------------ //

$globe-red: #9b1518;
$black: #000000;
$dk-gray: #444444;
$gray: #999999;
$lt-gray: #cccccc;
$beige: #f2f2e8;
$white: #ffffff;


// Misc ------------------------------------ //

$border: 1px solid $lt-gray;
$ease: all 0.25s ease;



// Paths ------------------------------------ //
$retina-path: "/assets/images/retina";
$svg-path: "/assets/icons/sprite.svg";
$png-path: "/assets/icons/sprite.png";